{% extends "base.html" %}
{% load static %}
{% block css %}
<style>
canvas {
    width: 100%;
}
</style>
{% endblock %}
{% block title %}Details for {{ circuit.name }}{% endblock %}
{% block header %}{{ circuit.name }}{% endblock %}
{% block content %}
<canvas class='circuit'></canvas>
<img src="{% url 'circuit_image' circuit.uuid %}" />
<div class="d-none">
    <img src="{% static 'components/battery.png' %}" id='battery' />
    <img src="{% static 'components/resistor.png' %}" id='resistor' />
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
    var dpi = window.devicePixelRatio;
    var canvas = document.querySelector('.circuit');
    var ctx = canvas.getContext('2d');
    function fix_dpi() {
        var style_height = +getComputedStyle(canvas).getPropertyValue("height").slice(0, -2);
        var style_width = +getComputedStyle(canvas).getPropertyValue("width").slice(0, -2);
        canvas.setAttribute('height', style_height * dpi);
        canvas.setAttribute('width', style_width * dpi);
    }
    fix_dpi();
    var elements = [];
    {% for node in nodes %}
    elements.push({id: {{ node.pk }}, connected_to: [{% for conn in node.connected_to.all %}{{ conn.pk }}{% if not forloop.last %}, {% endif %}{% endfor %}], type: "{{ node.node_type }}", loc: [{{ node.x|default:"NaN" }}, {{ node.y|default:"NaN" }}]})
    {% endfor %}
    console.log(JSON.stringify(elements))
    var max_x = 0;
    var max_y = 0;
    var min_x = Infinity;
    var min_y = Infinity;
    for(var i = 0; i < elements.length; i++) {
        if(elements[i].loc[0] > max_x) {
            max_x = elements[i].loc[0];
        }
        if(elements[i].loc[0] < min_x) {
            min_x = elements[i].loc[0];
        }
        if(elements[i].loc[1] > max_y) {
            max_y = elements[i].loc[1];
        }
        if(elements[i].loc[1] < min_y) {
            min_y = elements[i].loc[1];
        }
    }
    var x_range = max_x - min_x;
    var y_range = max_y - min_y;
    var canvas = document.querySelector('.circuit');
    var canvas_width = canvas.width - 200;
    var canvas_height = canvas.height - 200;
    for(var i = 0; i < elements.length; i++) {
        if(isNaN(elements[i].loc[0]))
            continue
        elements[i].loc[0] = 100 + (elements[i].loc[0] - min_x) * (canvas_width / x_range);
        elements[i].loc[0] = Math.floor(elements[i].loc[0])
        elements[i].loc[1] = 100 + (elements[i].loc[1] - min_y) * (canvas_height / y_range);
        elements[i].loc[1] = Math.floor(elements[i].loc[1])
    }
    var context = canvas.getContext('2d');
    context.imageSmoothingQuality = 'high'
    for(var i = 0; i < elements.length; i++) {
        if(isNaN(elements[i].loc[0])) {
            var conns = []
            for(var j = 0; j < elements[i].connected_to.length; j++) {
                conns.push(elements.filter(function(x) { return x.id === elements[i].connected_to[j]})[0]);
            }
            var is_horizontal = Math.abs(conns[1].loc[0] - conns[0].loc[0]) > Math.abs(conns[1].loc[1] - conns[0].loc[1])
            if(is_horizontal) {
                var width = Math.abs(conns[1].loc[0] - conns[0].loc[0])
            } else {
                var width = Math.abs(conns[1].loc[1] - conns[0].loc[1])
            }
            var image = document.querySelector('#' + elements[i].type.split('/')[0])
            if(image) {
                var aspect_ratio = image.height / image.width;
                var dx = Math.min(conns[1].loc[0], conns[0].loc[0])
                var dy = Math.min(conns[1].loc[1], conns[0].loc[1])
                if(is_horizontal) {
                    dy -= width * aspect_ratio * 0.5;
                } else {
                    dx -= width * aspect_ratio * 0.5;
                }
                context.drawImage(image, dx, dy, width, width * aspect_ratio);
            }
        }
        else {
            context.fillRect(elements[i].loc[0], elements[i].loc[1], 2, 2)
            for(var j = 0; j < elements[i].connected_to.length; j++) {
                var conn = elements.filter(function(x) { return x.id === elements[i].connected_to[j]})[0];
                if(isNaN(conn.loc[0])) 
                    continue
                context.beginPath()
                context.moveTo(elements[i].loc[0], elements[i].loc[1])
                context.lineTo(conn.loc[0], conn.loc[1])
                context.stroke()
            }
        }
    }
});
</script>
{% endblock %}
